body{
    background-image: 
    url("https://cdn.wallpapersafari.com/85/16/tMvWFp.jpg");
}
h1{
    text-align: center;
    color: beige;
    background-color: blueviolet;
}
span{
    background-color: aliceblue;
    color:black;
}