body{
    background-image: 
    url("https://tse4.mm.bing.net/th?id=OIP.He4A-9v6EsIuC2gr8lZMfgHaEo&pid=Api&P=0&h=180");
}
h1{
    text-align: center;
    background-color: rgb(117, 213, 20);
    color:cornsilk
}
span{
    background-color: aliceblue;
    color:black;
}