h1{
    text-align:center;
    background-color: rgb(16, 127, 255);
    color:aliceblue

}
h3{
    text-align:left;
    background-color:aquamarine;
}
article{
    color:rgb(188, 67, 67)
}
ul#anti{
    background-color: burlywood;
    width:100%
}
body{
    background-image: 
    url("https://wallpapercave.com/wp/wp2590323.png");

}
table,th,td{
    border:1px solid #157e9b;
}
h2{
    background-color: cadetblue;
    width:30%
}
td{
    background-color: blueviolet;
    color: antiquewhite;
}
th{
    color: coral;
    background-color: rgb(136, 35, 55);
}
p#na{
    width:15%
}
p#de{
    width:40%
}
li#ig{
  color:rgb(41, 153, 45)  
}
li#ig2{
    color:rgb(214, 67, 9)
  }
  li#ig3{
    color:rgb(71, 37, 205)
  }
  li#ig4{
    color:rgb(158, 0, 0)
  }
  td{
    background-color: blueviolet;
    color: antiquewhite;
}
